
body {
  margin: 0;
  overflow: hidden;
}

text.title {
  font-size: 15px;
  font-weight: bold;
  fill: black;
}

.tick text {
  font-size: 10px;
}

circle {
  stroke: none;
  fill-opacity: 0.7;
}

circle.selected {
  fill-opacity: 1;
}