.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    opacity: 0;
}

path {
    pointer-events: all;
}

.checkbox-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
}

.checkbox-container>div {
    display: inline-block;
    margin-right: 15px;
}

.streamCheckbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
}

.streamCheckbox>div {
    display: inline-block;
    margin-right: 15px;
}