svg {
    border: 1px solid black;
    background-color: #f9f9f9;
}

.chart-container {
    height: 300px;
    overflow-y: auto;
}


#rankings {
    margin-right: 20px;
    white-space: nowrap;
}

.tooltip {
    z-index: 9999;
    position: absolute;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
}